@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(210, 210, 210);
}

/* resetted values */

.container {
  width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.row > * {
  width: 100%;
  padding: 0 15px;
}

.col-lg-1 {
  width: 8.33%;
}
.col-lg-2 {
  width: 16.66%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-4 {
  width: 33.33%;
}
.col-lg-5 {
  width: 41.66%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: 58.33%;
}
.col-lg-8 {
  width: 66.66%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-10 {
  width: 83.33%;
}
.col-lg-11 {
  width: 91.66%;
}
.col-lg-12 {
  width: 100%;
}

.justify-start {
  justify-content: flex-start !important;
}
.justify-end {
  justify-content: flex-end !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-space-around {
  justify-content: space-around !important;
}
.justify-space-between {
  justify-content: space-between !important;
}
.justify-evenly {
  justify-content: space-evenly !important;
}

.align-item-start {
  align-items: flex-start !important;
}
.align-item-end {
  align-items: flex-end !important;
}
.align-item-center {
  align-items: center !important;
}
.align-item-baseline {
  align-items: baseline !important;
}
.align-item-stretch {
  align-items: stretch !important;
}

/* resetted values */

/* Header -CSS-starts */

.head-cont {
  padding: 10px 0;
  background-color: #181818;
  font-family: "Patrick Hand", cursive, sans-serif;
}
.left-item h1 {
  color: #fff;
  font-family: sans-serif;
}
.heading {
  font-size: 32px;
  font-weight: 700;
  color: #5f9df7;
}
.right-item {
  display: flex;
}
.right-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid rgba(255, 255, 255, 0.2);
}
.right-item h1 {
  padding-right: 15px;
  color: #5f9df7;
  font-weight: 700;
  font-size: 36px;
}

/* Header -CSS-ends*/

/* card-CSS-starts */
.card-cont {
  padding: 35px 0;
}
.cards {
  background-color: #eee9db;
  height: 450px;
  border-radius: 25px;
  box-shadow: 0 0 5px 5px #c5c5c5;
  margin-bottom: 35px;
  transition: 0.3s;
}
.card-img img {
  border-radius: 20px;
  padding: 15px 15px;
  display: block;
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.card-info {
  text-align: center;
}
.card-info h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #1671fa;
}
.card-info p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #717171;
  padding: 10px;
}
.card-info a {
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: rgb(61, 61, 252);
  color: #fff;
  border-radius: 8px;
  padding: 10px 25px;
  transition: 0.3s;
}
.cards:hover .card-img img {
  scale: 1.02;
  transition: 0.3s;
}
.card-info a:hover {
  background-color: rgb(44, 44, 44);
  color: wheat;
  cursor: pointer;
}
/* Card-CSS-ends*/
