@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
	background: rgb(210,210,210);
}

/* Header -CSS-starts */

.header{
	background-color:#181818;
	font-family:'Patrick Hand', cursive,sans-serif;
}         
.head-container{
	padding:10px;
	margin:0 auto;
	width:80%;
	display:flex;
	justify-content:space-between;
	align-content:center;
	flex-wrap:wrap;
}
.left-item{
	
	color:#fff;
	font-family:sans-serif;
	line-height:65px;
}
.heading{
	font-weight:bold;
	color:#5F9DF7;
}
.right-item{
	display:flex;
	justify-content:center;
	align-content:center;
}
.right-item img{
	width:65px;
	height:65px;
	object-fit:cover;
	border-radius:50%;
	border:8px solid rgba(255,255,255,0.2);
}
.right-item h1{
	color:#5F9DF7;
	line-height:65px;
	padding-right:25px;
	font-weight:400;
	font-size:34px;

}

/* Header -CSS-ends*/

/* card-CSS-starts */

.card-container{
	display:flex;
	width:80%;
	margin:0 auto;
	justify-content:flex-start;
	align-items:start;
	flex-wrap:wrap;
	padding:15px 5px;
	gap:25px;
}
.card{
	height:400px;
	width:31.6%;
	padding:25px 15px;
	background-color:white;
	border-radius:10px;
	box-shadow:0 0 5px #000;
}
.card-img{
	height:200px;
}
.card-img img{
	width:100%;
	height:auto;
	object-fit:cover;
	}
.card-content{
	text-align:center;
}
.card-content h2{
	font-family: 'Roboto', sans-serif;
	padding:10px;
	font-size:28px;
	color:#083AA9;
	line-height:1.3;
}
.card-content p{
	font-family: 'Roboto', sans-serif;
	padding:10px;
	font-size:18px;
	color:#000;
	line-height:1.3;
	margin-bottom:15px;
}
.card-content a{
	text-decoration:none;
	font-family:'Roboto', sans-serif;
	font-size:22px;
	letter-spacing:1px;
	padding:9px 25px;
	background-color:blue;
	color:#fff;
	border-radius:25px;	
	box-shadow:0 0 1px #000;
}
.card-content a:hover{
	background-color:black;
	color:white;
	cursor:pointer;
}
/* Card-CSS-ends*/