@import "../bootstrap/scss/bootstrap.scss";
@import "reset";

$red: #e03a3c;
// header
header {
  background-color: $white;
  // padding: 7px;
  .navbar-brand {
    font-family: $poppins;
    font-size: 30px;
    font-weight: 600;
    color: #111;
    span {
      color: $red;
    }
  }
  .nav-link {
    font-family: $raleway;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    transition: 0.3s;
    margin-left: 12px;
    &:hover {
      color: $red;
    }
  }
  .navbar-nav .show > .nav-link,
  .navbar-nav .nav-link.active {
    color: $red;
  }

  .btn {
    margin-left: 10px;
  }
}

// banner starts
.banner {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../images/hero-bg.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 230px;
  .banner-cont {
    padding: 30px 0 0 0;
    font-family: $raleway;
    h2 {
      font-size: 48px;
      font-weight: 700;
      color: $white;
    }
    p {
      color: $white;
      font-size: 24px;
      font-weight: 500;
    }
    button {
      font-size: 16px;
      font-weight: 500;
      padding: 10px 35px;
      color: $white;
      background-color: $red;
      border: 2px solid $red;
      &:hover {
        background-color: transparent;
        border: 2px solid $white;
      }
    }
  }
}
// banner ends

// client starts
.client {
  background-color: $white;
  padding: 50px 0;

  .carousel-indicators {
    top: 120px;
    .active {
      background-color: $red;
    }
    button {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: 1px solid $red;
      background-color: transparent;
      opacity: 1;
      transition: 0.3s;
      &:hover {
        background-color: $red;
      }
    }
  }
  .carousel-item {
    img {
      height: auto;
      padding: 10px 30px;
      filter: grayscale(100%);
      &:hover {
        filter: grayscale(0);
      }
    }
  }
}
// client ends

// About starts
.about {
  // background-color: ;
  padding: 180px 0;
  position: relative;
  &::before {
    content: "";
    background: #1b1b1b;
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
    z-index: -20;
  }
  .abt-left {
    padding: 0px 10px;
    color: $white;
    h2 {
      font-family: $raleway;
      font-size: 34px;
      font-weight: 700;
    }
    p {
      font-family: $open-sans;
      font-size: 16px;
      font-weight: 400;
    }
    a {
      color: $white;
      font-size: 13px;
      font-weight: 600;
      font-family: $open-sans;
      padding: 8px 28px;
      border: 2px solid $red;
      border-radius: 30px;
      text-transform: uppercase;
      transition: 0.3s;
      span i {
        font-size: 12px;
        padding-left: 5px;
        color: #fff !important;
        font-weight: 700;
      }
      &:hover {
        background-color: $red;
      }
    }
  }
  .abt-right {
    .abt-right-cont {
      .abt-icon i {
        font-size: 40px;
        color: $red !important;
      }
      h4 {
        margin-top: 10px;
        font-family: $raleway;
        font-size: 20px;
        color: $white;
        font-weight: 700;
      }
      p {
        font-family: $open-sans;
        font-size: 15px;
        font-weight: 400;
        color: #848484;
      }
    }
  }
}
// About ends

// dash-board starts
.dash-board {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: $white;
  .dash-cont {
    background-color: #fff;
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 35px rgb(0 0 0 / 6%);
    border-radius: 4px;
    i {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      color: $red;
      font-size: 24px;
      border-radius: 50%;
      padding: 14px;
      box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
    }
    span {
      color: #111;
      font-size: 36px;
      font-weight: 700;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: #444;
    }
  }
}
// dash-board ends

// tabs starts
// dummy tab
.tabs-section {
  padding: 60px 0;

  .nav-pills .nav-link {
    min-height: 100px;
    border: 1px solid #7e7e7e;
    border-radius: unset;
    display: flex;
    // background-color: $red;
    align-items: center;
    color: #000;
    i {
      font-size: 48px;
    }
    h4 {
      font-family: $raleway;
      font-size: 18px;
      font-weight: 600;
    }
    &:hover {
      border: 1px solid #b9b9b9;
      i,
      h4 {
        color: $red;
      }
    }
  }
  .nav-link.active {
    color: $white;
    background-color: $red;
    border-color: $red;
    &:hover {
      i,
      h4 {
        color: $white;
      }
    }
  }
}

// .nav-pills .nav-link .nav-pills .nav-link .nav-pills .nav-link.active,
// .nav-pills .show > .nav-link {
//   color: #fff;
//   background-color: $red;
// }

.tab-left {
  font-family: $open-sans;
  color: #444;
  h3 {
    font-size: 26px;
    font-weight: 600;
    font-family: $raleway !important;
  }
  p {
    font-size: 16px;
    font-weight: 400;
  }
  li {
    font-size: 16px;
    font-weight: 400;
  }
  i {
    color: $red !important;
  }
  .para-italic {
    font-style: italic;
  }
}

// dummy tab
// .tab-section {
//   padding: 40px 0;
//   .col-3 {
//     width: 23.5%;
//     margin: 0 auto;
//   }
//   li {
//     .nav-link.active {
//       color: $white;
//       background-color: $red;
//     }
//     .nav-link {
//       border: 1px solid #b9b9b9;
//       padding: 25px;
//       transition: 0.3s;
//       border-radius: 0;
//       cursor: pointer;
//       color: $black;
//     }
//     .tab-icon {
//       i {
//         font-size: 48px;
//         font-weight: 700;
//         padding-right: 15px;
//       }
//     }
//     h3 {
//       font-size: 18px;
//       font-weight: 600;
//       font-family: $raleway;
//     }
//   }
//   .tab-left {
//     h3 {
//       font-size: 26px;
//       font-weight: 600;
//       font-family: $raleway;
//       color: #444;
//     }
//     p,
//     li {
//       font-size: 16px;
//       font-weight: 400;
//       font-family: $open-sans;
//       color: #444;
//     }
//     li {
//       list-style-type: none;
//       padding-top: 15px;
//       padding-bottom: 5px;
//       &::before {
//         display: inline-block;
//         font-style: normal;
//         font-variant: normal;
//         text-rendering: auto;
//         -webkit-font-smoothing: antialiased;
//         font-family: "Font Awesome 5 Free";
//         font-weight: 900;
//         content: "\f560";
//         padding-right: 10px;
//         padding-bottom: 5px;
//         color: $red;
//         font-size: 14px;
//       }
//     }

//     .para-italic {
//       font-style: italic;
//     }
//   }
//   // .tab-right {
//   // }
// }

// tabs ends

// Service starts
.service {
  padding: 120px 0;
  position: relative;

  &::before {
    content: "";
    background: #1b1b1b;
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
    z-index: -20;
  }
  .service-head {
    h2 {
      font-size: 32px;
      font-weight: 700;
      color: $white;
      position: relative;
      text-transform: uppercase;
      font-family: $raleway;
      margin-bottom: 34px;
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: $red;
        bottom: -20px;
        left: calc(50% - 25px);
      }
    }
    p {
      font-size: 16px;
      font-weight: 400;
      color: $white;
      font-family: $open-sans;
    }
  }
  .service-box {
    background-color: #252525;
    color: $white;
    padding: 25px 15px 25px 20px;
    border-radius: 10px;
    .ser-icon {
      i {
        font-size: 40px;
        color: $red;
        padding-right: 30px;
        flex: 0 0 auto;
      }
    }
    .serbox-head {
      a {
        display: inline-block;
        text-decoration: none;
        color: $white;
        font-family: $raleway;
        font-size: 18px;
        font-weight: 700;
        &:hover {
          text-decoration: underline;
        }
      }
      p {
        font-family: $open-sans;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

// portfolio
.portfolio {
  padding: 60px 0;
  background-color: $white;
  .portfolio-head {
    h2 {
      font-size: 32px;
      font-weight: 700;
      color: #444;
      position: relative;
      text-transform: uppercase;
      font-family: $raleway;
      margin-bottom: 34px;
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: $red;
        bottom: -20px;
        left: calc(50% - 25px);
      }
    }
    p {
      font-size: 16px;
      font-weight: 400;
      color: #444;
      font-family: $open-sans;
    }
  }
  .portfolio-list {
    li {
      font-family: "Open Sans", sans;
      font-size: 14px;
      line-height: 1.4;
      font-weight: 600;
      color: #444;
      border-radius: 4px;
      padding: 8px 16px;
      text-transform: uppercase;
      transition: 0.3s;
      &:hover {
        cursor: pointer;
        background-color: $red;
        color: $white;
      }
      &.active-lis {
        color: $white;
        background-color: $red;
      }
    }
  }
  .image-card {
    // margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    img {
      transition: all 0.4s ease-in-out;
    }
    .image-card-info {
      position: absolute;
      padding: 0px 30px;
      padding-top: 45%;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      visibility: hidden;
      opacity: 0;
      z-index: -1;
      overflow: hidden;
      .img-card-head {
        h3 {
          font-size: 18px;
          color: $white;
          font-weight: 700;
          font-family: "Raleway", sans;
          margin-bottom: 10px;
          text-transform: uppercase;
        }
        p {
          text-transform: uppercase;
          font-weight: 400;
          font-family: "Open Sans", sans;
          color: $white;
          font-size: 14px;
        }
      }
      .image-card-icon {
        a {
          color: #aaa;
          &:hover {
            color: $white;
            cursor: pointer;
          }
        }
        i {
          font-size: 24px;
        }
      }
    }
    &:hover .image-card-info {
      visibility: visible;
      opacity: 1;
      z-index: 1;
      transition-delay: all 5s ease-in-out;
    }
    &:hover img {
      transform: scale(1.1);
    }
  }
}
// testimonials
.testimonial {
  padding: 60px 0;
  background-color: white;
  .carousel-indicators {
    top: 340px;
    .active {
      background-color: $red;
    }
    button {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: 1px solid $red;
      background-color: transparent;
      opacity: 1;
      transition: 0.3s;
      &:hover {
        background-color: $red;
      }
    }
  }
  .testimonial-head {
    h2 {
      font-size: 32px;
      font-weight: 700;
      color: #444;
      position: relative;
      text-transform: uppercase;
      font-family: $raleway;
      margin-bottom: 34px;
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: $red;
        bottom: -20px;
        left: calc(50% - 25px);
      }
    }
    p {
      font-size: 16px;
      font-weight: 400;
      color: #444;
      font-family: $open-sans;
    }
  }
  .testimonial-card {
    margin-bottom: 30px;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 8%);
    .img-head {
      img {
        width: 80px;
      }
      .img-heading {
        padding-left: 15px;

        h4 {
          margin: 0;
          font-size: 18px;
          font-weight: 700;
          color: #111;
          font-family: $raleway;
        }
        p {
          margin: 0;
          font-size: 14px;
          font-weight: 500;
          color: #999;
          font-family: $raleway;
        }
      }
    }
    p.qot {
      padding-top: 15px;
      i {
        font-size: 26px;
        color: #fceaea;
      }
      font-size: 16px;
      font-weight: 400;
      color: #444;
      font-family: $open-sans;
    }
  }
}
// pricing
.pricing {
  padding: 130px 0;
  position: relative;
  &::before {
    content: "";
    background: #1b1b1b;
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
    z-index: -20;
  }
  .pricing-head {
    h2 {
      font-size: 32px;
      font-weight: 700;
      color: $white;
      position: relative;
      text-transform: uppercase;
      font-family: $raleway;
      margin-bottom: 34px;
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: $red;
        bottom: -20px;
        left: calc(50% - 25px);
      }
    }
    p {
      font-size: 16px;
      font-weight: 400;
      color: $white;
      font-family: $open-sans;
    }
  }
  .pricing-card {
    border-radius: 6px;
    background-color: #2b2b2b;
    padding: 40px 30px;
    color: #fff;
    font-family: $open-sans;
    text-align: center;
    h4 {
      font-size: 18px;
      font-weight: 600;
    }
    h3 {
      margin-top: 15px;
      font-size: 42px;
      font-weight: 500;
      sup {
        font-size: 20px;
        font-weight: 500;
      }
      span {
        font-size: 16px;
        font-weight: 300;
      }
    }
    ul {
      list-style-type: none;
      li {
        padding-top: 14px;
        font-size: 14px;
        font-weight: 400;
      }
      .lineth {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: line-through;
      }
    }
  }
  .active-price {
    background-color: $red;
  }
  .price-card-btn {
    a {
      margin: 15px 0 0px 0;
      display: inline-block;
      padding: 8px 35px;
      text-align: center;
      border-radius: 6px;
      color: $white;
      transition: 0.3s;
      border: 2px solid rgba(255, 255, 255, 0.3);
      &:hover {
        border: 2px solid $white;
      }
    }
  }
}
// faq starts
.faq {
  padding: 40px 0;
  background-color: white;
  .faq-head {
    h2 {
      font-size: 32px;
      font-weight: 700;
      color: #444;
      position: relative;
      text-transform: uppercase;
      margin-bottom: 30px;
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: $red;
        bottom: -20px;
        left: calc(50% - 25px);
      }
    }
  }
  .accordion-item {
    .accordion-body {
      font-family: $open-sans;
      font-size: 16px;
      font-weight: 400;
      padding: 10px 0 10px 0;
    }
  }
  .accordion-button {
    font-family: $open-sans;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0;

    &:focus {
      box-shadow: none;
      background-color: transparent;
    }
  }
  .accordion-button:not(.collapsed) {
    color: $red;
  }
}
// team
.team {
  // background-color: ;
  padding: 130px 0;
  position: relative;
  &::before {
    content: "";
    background: #1b1b1b;
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
    z-index: -20;
  }

  .team-head {
    h2 {
      font-size: 32px;
      font-weight: 700;
      color: $white;
      position: relative;
      text-transform: uppercase;
      font-family: $raleway;
      margin-bottom: 34px;
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: $red;
        bottom: -20px;
        left: calc(50% - 25px);
      }
    }
    p {
      font-size: 16px;
      font-weight: 400;
      color: $white;
      font-family: $open-sans;
    }
  }
  .team-card {
    position: relative;
    border-radius: 50px;
    img {
      height: auto;
      border-radius: 5px 5px 0 0;
    }
    .team-card-icons {
      position: absolute;
      bottom: 110px;
      left: 0;
      width: 100%;
      text-align: center;
      visibility: hidden;
      z-index: -1;
      opacity: 0;
      transform: translateY(-20px);
      transition: ease-in-out 0.3s;
      i {
        font-size: 18px;
        height: 35px;
        width: 35px;
        text-align: center;
        line-height: 35px;
        background-color: $red;
        color: $white;
        margin-left: 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #000;
        }
      }
    }
    &:hover .team-card-icons {
      visibility: visible;
      z-index: 1;
      opacity: 1;
      transform: translateY(0px);
    }
    .team-card-head {
      border-radius: 0px 0px 5px 5px;
      padding: 15px 0 10px 25px;
      background-color: $white;
      h3 {
        font-family: $raleway;
        font-size: 18px;
        font-weight: 700;
        color: #111;
      }
      p {
        font-family: $open-sans;
        font-size: 13px;
        font-weight: 400;
        color: #aaa;
      }
    }
  }
}
// contact
.contact {
  padding: 40px 0;
  background-color: white;
  .contact-head {
    h2 {
      font-size: 32px;
      font-weight: 700;
      color: #444;
      position: relative;
      text-transform: uppercase;
      font-family: $raleway;
      margin-bottom: 34px;
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: $red;
        bottom: -20px;
        left: calc(50% - 25px);
      }
    }
    p {
      font-size: 16px;
      font-weight: 400;
      color: #444;
      font-family: $open-sans;
    }
  }
  .contact-left {
    i {
      display: inline-block;
      text-align: center;
      width: 45px;
      height: 45px;
      line-height: 45px;
      border-radius: 50%;
      border: 2px dotted rgba(255, 0, 0, 0.3);
      color: $red;
      font-size: 26px;
      flex: 0 0 auto;
      margin-bottom: 10px;
    }
    h4 {
      font-family: $raleway;
      font-size: 20px;
      font-weight: 700;
    }
    p {
      font-family: $open-sans;
      font-size: 14px;
      font-weight: 400;
    }
    .contact-add {
      box-shadow: 0 0 30px rgb(214 215 216 / 60%);
      padding: 30px 0 32px 0;
      color: #444;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    .contact-email {
      box-shadow: 0 0 30px rgb(214 215 216 / 60%);
      padding: 30px 0 32px 0;
      color: #444;
      border-radius: 5px;
    }
    .contact-number {
      box-shadow: 0 0 30px rgb(214 215 216 / 60%);
      padding: 30px 0 32px 0;
      color: #444;
      border-radius: 5px;
    }
  }
  .contact-right {
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding: 30px;
    border-radius: 4px;
    // #212529
    input,
    textarea {
      display: inline-block;
      width: 100%;
      padding: 10px;
      border: 1.5px solid #cfcfcf;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 15px;
      transition: 0.3s;
      outline: none;
      resize: vertical;
      overflow: auto;
      border-radius: 5px;
      &:focus {
        border: 1.5px solid black;
      }
    }
    textarea {
      padding: 10px 0px 90px 10px;
    }
    button {
      padding: 10px 25px;
      color: $white;
    }
  }
}
// footer-links
.footer-links {
  padding: 25px 0;
  background-color: #111;
  .address-link {
    font-family: "Raleway", sans-serif;
    color: $white;
    h3 {
      margin: 0;
      font-size: 26px;
      font-weight: 700;

      span {
        color: $red;
      }
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .footlink {
    padding-top: 8px;
    h4 {
      font-size: 16px;
      font-weight: 700;
      font-family: "Raleway", sans-serif;
      color: $white;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 25px;
        height: 2px;
        background: #e03a3c;
        bottom: -10px;
        left: 0px;
      }
    }
    li {
      list-style-type: none;
      padding: 5px 0;
      a {
        font-family: $open-sans;
        color: #aaa;
        transition: 0.3s;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        transition: 0.3s;
        &:hover {
          color: $white;
        }
      }
      &::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f105";
        padding-right: 10px;
        color: $white;
        font-size: 12px;
      }
    }
  }
  .subscribe-link {
    position: relative;
    p {
      font-family: $open-sans;
      padding-top: 8px;
      margin-bottom: 30px;
      color: $white;
      font-size: 15px;
      font-weight: 400;
    }
    input {
      padding: 10px 15px;
      width: 85%;
      font-size: 16px;
      outline: none;
      border: none;
      border-radius: 25px;
      z-index: -1;
    }
    button {
      z-index: 1;
      position: absolute;
      top: 117px;
      right: 0px;
      padding: 11px 25px;
      border: none;
      color: #fff;
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      border-radius: 25px;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}
// footer
.footer {
  padding: 15px 0;
  background-color: black;
  .footer-rights {
    p {
      color: $white;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 0;
      span {
        font-size: 18px;
        font-weight: 500;
        padding-left: 10px;
        letter-spacing: 1.2px;
        word-spacing: 1.2px;
        color: $warning;
        text-transform: uppercase;
      }
    }
  }
  .footer-media {
    span {
      flex: 0 0 auto;
      background-color: #2b2b2b;
      height: 30px;
      width: 30px;
      line-height: 30px;
      margin-left: 10px;
      border-radius: 4px;
      text-align: center;
      transition: 0.3s;
      a {
        color: $white;
        font-size: 15px;
        &:hover {
          background-color: $red;
          cursor: pointer;
        }
      }
      &:hover {
        background-color: $red;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 991.98px) {
  // header {
  //   .dummy-btn {
  //     content: "";
  //     right: 200px;
  //     top: 17px;
  //   }
  // }
  .contact-right {
    margin-top: 15px;
  }
}
@media (max-width: 767.98px) {
  .footer-rights {
    margin-bottom: 10px;
  }
}
